@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

:root {
    --font-family-1: 'Open Sans', sans-serif;
    --font-family-2: 'Playfair Display', serif;
    --font-family-3: 'Nunito', sans-serif;
    --color-main-1: #F2E9E4;
    --color-font-1: #f6f2f0;
    --color-main-2: #C9ADA7;
    --color-main-3: #9A8C98;
    --color-main-4: #4A4E69;
    --color-main-5: #22223B;
    --color-main-6: #8b9a8d;
    --color-main-7: #141428;
    --color-hover-1: #b272a8;
    --color-hover-2: #9D3695;
    --color-gradient-1: #aa4b6b;
    --color-gradient-2: #6b6b83;
    --color-gradient-3: #437a4b;
    --color-gradient-4: #2b5c32;
    --color-gradient-5: #0f0f2f;
    --color-cv-main-1: #543e3e;
    ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-1);
    scroll-behavior: smooth;
}


body {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-main-5);
    /* background-color: var(--color-main-3); */
    width: 100vw;
    line-height: 2.5rem;
}

/* loader ----> */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-font-1);
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--color-font-1);
    border-radius: 50%;
    border-top: 16px solid var(--color-main-2);
    border-right: 16px solid var(--color-main-6);
    border-bottom: 16px solid var(--color-main-5);
    border-left: 16px solid var(--color-main-4);
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* navbar section ----> */
.navbar {
    background: var(--color-main-4);
    color: var(--color-main-1);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 7% 2% 5% 2%;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: capitalize;
}

.highlight {
    border-bottom: 4px solid var(--color-hover-1);
}

.navbar-links {
    color: var(--color-main-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all .3s ease;
}

.navbar-links:hover {
    color: var(--color-hover-1);
    transition: all .3s ease;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button-carousel {
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    background: linear-gradient(to right, var(--color-hover-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    transition: all 0.3s ease;
    color: var(--color-main-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    height: fit-content;
    max-width: 290px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    cursor: pointer;
}

.button {
    text-align: center;
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    background: linear-gradient(to right, var(--color-hover-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    transition: all 0.3s ease;
    color: var(--color-main-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    height: fit-content;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    cursor: pointer;
}

.button:hover,
.button-carousel:hover {
    border: 2px solid var(--color-hover-1);
    background: var(--color-main-5);
    color: var(--color-hover-1);
    /* background: transparent; */
    transition: all .3s ease;
}

/* hero section ----> */
.hero {
    background: var(--color-main-2);
    background: linear-gradient(to right, var(--color-main-2), var(--color-main-3), var(--color-main-4));
    padding: 4rem 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 4rem;
    gap: 10px;
}

.hero-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--color-font-1);
    margin-bottom: 3rem;
    padding: 0 15rem;
}

.hero-description b {
    /* color: var(--color-hover-2); */
    font-size: 1.8rem;
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-5), var(--color-gradient-4));
    background: linear-gradient(to right, var(--color-hover-2), var(--color-gradient-5), var(--color-gradient-4));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-btn {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

/* about section ----> */

.main {
    background-color: var(--color-font-1);
    padding: 2rem 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 82rem;
    padding: 4rem;
}

.main-content {
    /* color: var(--color-main-5); */
    width: 100%;
    line-height: 3.5rem;
    margin: auto 50px;

}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.main-content h2 {
    margin-bottom: 3rem;
    margin-right: 3rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.main-content b {
    color: var(--color-hover-2);
    font-size: 2.3rem;
}

.main-btn {
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    background: linear-gradient(to right, var(--color-hover-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    transition: all 1s;
    color: var(--color-main-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    width: 250px;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.main-btn a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    border: none;
    color: var(--color-main-1);
}

.main-btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-main-5);
    transition: all 1s;
    border-radius: 4px;
    color: var(--color-hover-1);
}

.main-btn:hover,
.main-btn a:hover {
    color: var(--color-hover-1);
}

.main-btn:hover::after {
    width: 100%;
    color: var(--color-hover-1);
}

.main-img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img-card img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: drop-shadow(-20px 20px 20px);
}


.main-charact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin: 0 auto;
    /* margin-bottom: 3rem; */
    padding: 3rem 0;
}

.main-charact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 30px;
    width: 250px;
    height: 250px;
    border-radius: 4px;
    background: #D3959B;
    /* fallback for old browsers */

    background:
        -webkit-linear-gradient(to right,
            #BFE6BA,
            #D3959B);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to right,
            #BFE6BA,
            #D3959B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 10px solid var(--color-main-6);
    box-shadow: 2px 8px 12px 2px var(--color-main-6);
}

.main-charact-link:hover {
    transform: scale(1.03);
    transition: .3s ease-in;
    cursor: pointer;
}


/* portfolio section ----> */
.portfolio,
.career {
    background: var(--color-font-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
    padding-bottom: 5rem;

}

.portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio h1,
.career h1 {
    text-transform: capitalize;
    font-family: var(--font-family-2);
    background-color: var(--color-gradient-7);

    background-image:
        linear-gradient(to top,
            var(--color-gradient-5) 10%,
            var(--color-gradient-2)100%);

    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}

.portfolio-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 85%;
    height: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio-container {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 500px;
    width: 80%;
}

.carousel-inner {
    margin: 0 auto;
    display: flex;
}

.portfolio-container::-webkit-scrollbar {
    display: none;
    scroll-snap-align: center;
}

.portfolio-card {
    margin: 0 15px;
    height: 100%;
    max-width: 18rem;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 300px;
    align-items: center;
    justify-content: space-around;
    color: var(--color-main-5);
    background: #C6FFDD;
    /* fallback for old browsers */

    background:
        -webkit-linear-gradient(to top,
            #f7797d,
            #FBD786,
            #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to top,
            #f7797d,
            #FBD786,
            #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    transition: .3s ease-in;
    line-height: normal;
}

.portfolio-img-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.portfolio-card p {
    text-align: center;
    margin: 2rem 0;
    padding: 0 2rem;
    font-size: 1rem;
}

.portfolio-card:hover {
    transform: scale(1.1);
    transition: .3s ease-in;
    cursor: pointer;
}

.portfolio-card:nth-child(2) {
    background: #c0c0aa;
    /* fallback for old browsers */
    background:
        -webkit-linear-gradient(to bottom,
            #1cefff,
            #c0c0aa);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to bottom,
            #1cefff,
            #c0c0aa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio-card:nth-child(3) {
    background: #D3959B;
    /* fallback for old browsers */

    background:
        -webkit-linear-gradient(to right,
            #BFE6BA,
            #D3959B);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to right,
            #BFE6BA,
            #D3959B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio-card:nth-child(4) {
    background: #73C8A9;
    /* fallback for old browsers */
    background:
        -webkit-linear-gradient(to bottom,
            #373B44,
            #73C8A9);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to bottom,
            #373B44,
            #73C8A9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio-card:nth-child(6) {
    background: #c0c0aa;
    /* fallback for old browsers */
    background:
        -webkit-linear-gradient(to bottom,
            #1cefff,
            #c0c0aa);
    /* Chrome 10-25, Safari 5.1-6 */

    background:
        linear-gradient(to bottom,
            #1cefff,
            #c0c0aa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio-card h2 {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.2em;
}

.portfolio-img {
    margin-top: 1rem;
}

.fa-img {
    color: var(--color-hover-1);
}


.slide-arrow {
    color: var(--color-hover-2);
    opacity: 0.8;
}

.portfolio-card:hover {
    opacity: 1;
}

/* .portfolio-btn {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    height: 50px;
    width: 200px;
    align-items: center;
} */

.pre-btn,
.next-btn {
    border: none;
    /*width: 10vw;*/
    height: 125%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    /*z-index: 9;*/
    cursor: pointer;
}

.pre-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* career section ----> */

.career {
    /*padding-top: 4rem;*/
    width: 100%;
}

/* 
.career-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.career-content-exper {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    font-size: 1rem;
}

.career-img-container {
    margin: 0 3rem;
}

.exper-sub,
.exper-p {
    margin-bottom: 2rem;
}

/* .exper-p {
    padding-right: 5rem ;
} */

/*.career-img {
    width: 100px;
}

.career-exper {
    border: 2px solid var(--color-main-6);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 3rem 2rem 1rem 2rem;
    max-width: 60%;
} */

.download-bt {
    width: 90%;
    margin: 0 auto;
}

.download-btn-img {
    padding-right: 15px;
}

/* footer ----> */
footer {
    background-color: var(--color-main-5);
    color: var(--color-main-2);
    font-family: var(--font-family-2);
    font-size: 1rem;
    padding: 1.2rem;
}

.bt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-main-2);
    line-height: 3em;
}

.bt a {
    color: var(--color-main-1);
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
}

.footer-icon {
    margin: 10px;
    font-size: 20px;
    color: var(--color-main-2);
}

/* contact page ----> */

.contact-main-container {
    margin: 0;
    padding: 0;
}

.hero-contact {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;

    background-image: linear-gradient(rgba(78, 112, 176, 0.5), rgba(0, 0, 0, 0)), url(../images/contact-page/hero-1200x350.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content {
    padding: 3rem;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background: var(--color-main-2);
    background: linear-gradient(to right, var(--color-main-2), var(--color-main-3), var(--color-main-4));
    padding: 4rem 0;
}

.contact-title-sub {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    gap: 30px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-container {
    margin: 0 auto;
}

.contact-container b {
    color: var(--color-hover-2);
}

.contact-container h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 auto;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.contact-input {
    margin-bottom: 35px;
    min-height: 50px;
}

textarea {
    width: 100%;
    height: 100%;
}


.contact-form input {
    height: 50px;
    padding-left: 1rem;
}

.contact-form input,
.contact-form label,
.contact-form textarea {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 30px;
}


/* CV page */

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0;
}

/* First column styles */
.column1 {
    background-color: var(--color-gradient-5);
    margin: 0;
    padding: 50px 20px;
    color: var(--color-font-1);
}

.column1 h3 {
    color: var(--color-main-2);
    border-bottom: 1px solid var(--color-main-2);
    font-weight: 600;
    font-size: 18px;
}

.column1 ul {
    margin: 0;
    padding: 0;
}

.skills ul {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    font-weight: 100;
}

/* Styles for Languages */
.lang ul {
    margin: 0 auto;
    list-style: none;
    padding: 15px 2px;
}

/* Styles for star icons */
.lang .fa-star {
    font-size: 12px;
    color: var(--color-main-2);
    opacity: 0.4;
}

.lang .fa-star.checked {
    font-size: 12px;
    color: var(--color-main-2);
    opacity: 1;
}

/* Styles for btn download cv */
.cv-btn {
    text-align: center;
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    background: linear-gradient(to right, var(--color-hover-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-main-7));
    transition: all 0.3s ease;
    color: var(--color-main-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    letter-spacing: .2rem;
    cursor: pointer;
}

.cv-btn:hover {
    border: 2px solid var(--color-hover-1);
    background: var(--color-main-5);
    color: var(--color-hover-1);
    /* background: transparent; */
    transition: all .3s ease;
}

/* Styles for profile's picture */
.cv-img-container {
    margin-bottom: 3rem;
}

.cv-img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-img-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-color: var(--color-main-2);
    border: 1px;
    filter: drop-shadow(.8rem -.5rem 0rem var(--color-main-2));
}

/* Second column styles */
.column2 {
    width: 100%;
    background-color: var(--color-main-1);
    margin: 0 auto;
    padding: 2em;
    font-size: .9em;
    color: var(--color-cv-main-1);
    display: flex;
    flex-direction: column;
}

.column2 h3 {
    color: var(--color-cv-main-1);
}

/* Styles for CV Container, Profile Container, Work Container, and Education Container */
.cv-container,
.profile-container,
.work-container,
.edu-container {
    margin-bottom: 20px;
}

.profile-container h3,
.work-container h3,
.edu-container h3,
.courses-container h3 {
    border-bottom: 3px solid;
}

.personal-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 1em 0;
    color: var(--color-cv-main-1);
    border-bottom: 0;
}

.my-name {
    font-weight: 900;
    font-size: 2.5rem;
}

.role-description {
    font-weight: 600;
    line-height: 2rem;
    padding-top: 1.2rem;
}

/* Styles for Career Experiences */
.career-exper {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.career-img-container {
    margin-right: 10px;
}

.career-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.career-content-exper {
    flex: 1;
}

/* Styles for Education */
.info-degree,
.info-courses {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.info-degree h3,
.info-courses h3 {
    margin-bottom: 5px;
}

/*.edu-box-container,
.edu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.edu-box-container {
    padding: 3rem;
    gap: 10px;
}

.edu-container {
    width: 100%;
    margin: 0;
    background: var(--color-main-6);
    margin: 5rem 0;
}

.edu-data {
    list-style: none;
}

.edu-data li {
    font-size: 1rem;
    line-height: 1.6rem;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: square;
}

.edu-box-container h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.education-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.degree-institution-1,
.degree-institution-2 {
    list-style: square;
    margin-right: 50px;
}

.core-skills ul,
.tec-skills ul,
.lang ul{
        background-color: var(--color-font-1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 20px;
        width: auto;
        align-items: center;
        justify-content: center;
}

.core-skills li,
.tec-skills li{
    background-color: var(--color-font-1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--color-hover-2);
    border-radius: 10px;
    gap: 30px;
    padding: 10px;
    margin: 15px;
    min-width: 240px;;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.lang ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lang li {
    gap: 10px;
    width: auto;
}

.lang li span {
    position: relative;
    left: 20px;
    gap: 2px;
}

.checked {
    color: var(--color-hover-2);
}

.cv-container,
.user-profile,
.profile-container {
    list-style: none;
}

.work-container h3 {
    text-align: center;
    font-size: 2rem;
}

.profile-container,
.user-profile,
.cv-container {
    padding: 3rem;
    margin: 2rem;
}

.cv-container {
    margin-bottom: 0;
}

.profile-container h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.profile-container {
    margin-bottom: 5rem;
    background-color: var(--color-font-1);
}

.profile-description {
    padding: 3rem;
}

.user-profile {
    margin-top: 0;
    padding-top: 0;
}

.user-profile li {
    line-height: 2.5rem;
}

.core-skills h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.tec-skills h3,
.lang h3 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.basic-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.role-description {
    background: var(--color-main-5);
    background: -webkit-linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-5), var(--color-gradient-4));
    background: linear-gradient(to right, var(--color-hover-2), var(--color-gradient-5), var(--color-gradient-4));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*line-height: 4rem;*/
/*margin-top: 20px;
    font-size: 1.6rem;
}

.personal-data-container h1 {
    font-size: 2rem;
    margin: 0;
    color: var(--color-main-5);

}

.degree-area-1,
.degree-area-2 {
    font-style: italic;
    margin-bottom: 15px;
    color: var(--color-gradient-1);
} */

@media screen and (max-width: 68rem) {
    .main-charact {
        display: grid;
        grid-template-columns: repeat(2, auto);
        place-items: center;
        position: relative;
        width: 50%;
    }
}

@media screen and (max-width: 60rem) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        z-index: 1;
        width: 100%;
        max-width: 82rem;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -62.5rem;
        opacity: 1;
        transition: all .5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        top: 100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        font-size: 1.6rem;
        background: var(--color-main-4);
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .navbar-menu.active::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 0;
        height: 2px;
        color: var(--color-hover-1);
        background-color: var(--color-hover-1);
    }

    .logo {
        padding-left: 25px;
    }

    .navbar-toggle {
        margin: 10px auto;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all .3s ease;
        background: var(--color-main-1);
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin: auto;
        width: inherit;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* hero section ----> */
    .hero-description {
        padding: 0;
        font-size: 1.4rem;
    }

    .hero-description b {
        font-size: 1.4rem;
    }

    /* about section ----> */

    .main {
        padding-bottom: 0;
    }

    .main-content {
        margin: auto 0;
        text-align: center;
        padding: 0 20px;
    }

    .main-content h2 {
        margin-right: 0rem;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 60rem;
        padding: 0 10px;
    }

    .main-img-container {
        margin-bottom: 3rem;
    }

    .main-btn {
        width: 100%;
    }

    /* career section ----> */

    .career-exper {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

    .career-content-exper {
        margin: 0;
        padding: 0;
    }

    .career-img-container {
        margin-bottom: 1.5rem;
    }

    .career-img {
        width: 100px;
    }

    .download-bt {
        width: 90%;
        margin: 0 auto;
    }

    /* portfolio page ----> */
    .portfolio-container {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        overflow-x: auto;
    }

    .portfolio-card {
        margin: 0 auto;
        margin-left: 8px;
    }

    .pre-btn,
    .next-btn {
        display: none;
    }

    .portfolio h1,
    .career h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .portfolio,
    .career {
        margin-top: 0;
        padding-bottom: 30px;
    }

    /* contact page ----> */

    .hero-contact {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 350px;

        background-image:
            linear-gradient(rgba(78, 112, 176, 0.5),
                rgba(0, 0, 0, 0)),
            url(../images/contact-page/hero-400x300.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-content {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .contact-btn {
        margin: 0 auto;
    }

    /* CV page */
    .edu-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .grid-item:nth-child(2n + 1) {
        grid-column: 1;
    }

    .grid-item:nth-child(2n + 2) {
        grid-column: 2;
    }

    .skill {
        padding: unset;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skill-grid {
        margin: 2em 1.5em;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
        font-size: 1em;
    }
}

@media screen and (max-width: 57rem) {

    .main-container {
        padding: 0 1rem;
    }

    .main-content h1 {
        font-size: 1.8rem;
    }

    .main-content h2 {
        font-size: 1.4rem;
        margin-right: 0;
        line-height: 35px;
    }

    .main-img-container img {
        width: 250px;
        height: 250px;
    }

    .skill-grid {
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .skill {
        margin: 0;
        padding: 0;
    }

    .lang {
        width: 100%;
        font-size: 1rem;
        margin: 0 20px;
    }
}

@media screen and (max-width: 18rem) {

    /* portfolio page ----> */
    .portfolio-card {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-card h2 {
        width: 200px;
        font-size: .8em;
        margin: 0 auto;
        margin-top: 10px;
    }

    .portfolio-card p {
        font-size: .8em;
        margin: 0 auto;
        padding: 0 15px;
        height: 200px;
    }

    .portfolio-img-container {
        margin: 0;
    }

    .fa-4x {
        font-size: 2.5em;
    }

    .button-carousel {
        font-size: 15px;
    }
}

@media screen and (max-width: 36rem) {

    .main-charact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lang {
        width: 100%;
        font-size: 1rem;
        margin: 0 20px 50px 20px;
    }


    .basic-data {

        margin: 0;
    }

    .user-profile,
    .profile-container,
    .cv-container {
        margin: 0;
        padding: 1rem;
        font-size: 1em;
    }

    .profile-container {
        margin: 30px 0;
    }

    .cv-container {
        margin-top: 2rem;
    }

    .education-container {
        padding: 0;
    }

    .edu-box-container {
        padding: 0;
    }

    .personal-data-container h1 {
        font-size: 1.4em;
    }

    .role-description {
        font-size: 1em;
    }

    .basic-data {
        font-size: 1rem;
    }

    .user-profile li {
        line-height: 2.5rem;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 110rem) {
    .education-container {
        flex-direction: column;
        padding: 2rem;
    }

    .education-container h3 {
        text-align: center;
    }

    .education-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 3rem 5rem;
    }

}

@media print {

    * {
        color: black !important;
        background: transparent !important;
        text-shadow: none !important;
        box-shadow: none !important;
        border: none !important;
        float: none !important;
        clear: none !important;
        font-size: small;
    }

    /*
    html,
    body,
    article,
    header,
    section,
    footer,
    aside,
    div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div,
    ul,
    li {
        display: flex;
        flex-direction: column;
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    .cv-container {
        padding: 0;
        margin: 0;
        height: 100px;
    }

    ul.user-profile,
    .basic-data {
        line-height: normal;
        margin: 0;
        padding: 0;
        height: fit-content;
    }

    .work-container,
    .edu-box-container,
    .skill {
        height: fit-content;
        margin: 0;
        padding: 0;
        font-size: smaller;
    }

    .grid-item {
        all: unset;
    }

    .career-exper,
    .profile-container,
    .user-profile {
        padding: 0;
        margin: 0;
    }

    .profile-container {
        margin-bottom: 30px;
    }

    .work-container h3 {
        text-align: start;
    }

    .education-container h3 {
        margin-top: -100px;
    }

    .skill-title {
        margin-top: -50px;
    }

    li,
    ul {
        list-style-type: circle;
    }

    .education-container,
    .edu-box-container div,
    .edu-box-container li,
    .edu-data {
        margin: 0;
        padding: 0;
    }

    .career-img-container {
        visibility: hidden;
        margin: 0;
        width: 0;
    }

    .grid-list {
        all: unset;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skill-grid {
        all: unset;
    }

    .lang ul {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .navbar {
        visibility: hidden;
    }

    .button {
        visibility: hidden;
    }

    img {
        visibility: hidden;
    }

    span {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    abbr,
    acronym {
        text-decoration: none;
        border-bottom: 0 none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        page-break-inside: avoid;
        orphans: 3;
        widows: 3;
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    nav {
        display: none;
    }
    */
}